{% extends 'main.html' %}
{% load static %}

{% block content %}
<main class="main">
    <a href="{% url 'admin-dashboard' %}" class="link" style="margin-bottom: 2rem;">
        <button class="btn btn-primary btn-flex"><i class="fa fa-arrow-left" aria-hidden="true"></i>Dashboard</button>
    </a>
    <div class="subscribers-header">
        <h3>Here's a list of your subscribers</h3>
        <p class="subscribers-header-total-subscribers"> {{total_subscribers}} subscribers</p>
    </div>
    <div class="subscribers-container">
        {% for subscriber in subscribers %}
        <div class="each-subscriber">
            <p class="each-subscriber-info">Name : {{subscriber.name}}</p>
            <p class="each-subscriber-info">Email : {{subscriber.email}}</p>
            <p>Subscribed At : {{subscriber.createdAt}}</p>
        </div>
        <hr class="each-subscrber-line-break">
        {% endfor %}
    </div>
</main>
{% endblock content %}